main {
    margin-top: 100px;
}

.link-giochi li {
    list-style: disc;
    list-style-position: inside;

}

.link-giochi li::marker {
    color: dodgerblue;
}

.link-giochi a {
    text-decoration: none;
    color: black;
}


/* jumbo_header */
.carosello {
    background-image: url(./img/jumbo-bg.png);
    height: 670px;
    object-fit: cover;
    background-position: center;
}

.box-card {
    transition: 0.5s;
}

.box-card:hover {
    transform: translateY(-10px);
    cursor: pointer;
}

.box-img-info {
    opacity: 0.5;
}

.box-img-info {
    max-width: 150px;
    min-height: 250px;
}

.box-img-info:hover {
    opacity: 1;
    border-bottom: 2px solid blue;
    cursor: pointer;
}

.jumbo_takes_two {
    background-image: url(./img/it-takes-two-hero-banner-desktop.jpg);
    height: 500px;
    object-fit: cover;
    background-position: center;
}

.play_now {
    background-color: hsl(230deg 46% 16%);
}

footer {
    background-color: hsl(214deg 100% 31%);
}

footer li {
    list-style: none;
}

li:hover {
    cursor: pointer;
}